<%= link_to 'Back', posts_path %>
 <%= render 'errors', resource: @post, obj: @post %>

 <%= form_for @post do |f| %>

  <div class='form-group'>
    <%= f.label :title %>
    <%= f.text_field :title, class: 'form-control'%>
  </div>
  <div class='form-group'>
    <%= f.label :text %><br>
    <%= f.text_area :text, class: 'form-control'%>
  </div>
  <div>
    <%= f.label :tags %>
    <%= f.text_field :tags, class: 'form-control' %>
  </div>
  <div class='form-group'>
    <%= f.submit nil, class: 'btn btn-outline-success' %>
  </p>
<% end %>
