<p><%= link_to 'Back', posts_path %>
<p>
  <strong>Title:</strong>
  <%= @post.title %>
</p>

<p>
  <strong>Text:</strong><br>
  <%= @post.text %>
</p>

<h2>Add comment</h2>

<%= form_for @comment do |f| %>
  <%= f.hidden_field :post_id %>
  <p>
    <%= f.label :commenter %>
    <%= f.text_field :commenter %>
  </p>
  <p>
    <%= f.label :comments %>
    <%= f.text_area :body %>
</p>
<p>
<%= f.submit %>
</p>
<% end %>
